aiohttp==2.3.1
async-timeout==2.0.0
boto3==1.4.8
botocore==1.8.6
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.6
dnspython==1.15.0
docutils==0.14
idna==2.6
jmespath==0.9.3
json-encoder==0.4.4
multidict==3.3.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
python-status==1.0.1
pytz==2017.2
requests==2.18.4
s3transfer==0.1.12
singledispatch==3.4.0.3
six==1.11.0
urllib3==1.26.5
yarl==0.13.0
